@import "all_mixing/media/screen";
@import "all_mixing/font/font_family";
@import "all_mixing/color/colors";

body{
  padding:0;
  margin:0;
  @include jp;
  background: #212322;
}


main{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .ass{
    min-height: 100vh;
    width: 50%;
  }
  .left{
    background: #00685E;
    border-top-right-radius:60px;
    width: 50%;
    display: flex;
    justify-content: right;
    padding-top:60px;
    padding-right:100px;
    .abd{
      max-width: 468px;
      width: 100%;
      h3{
        color: white;
        font-weight: 600;
        margin-top: 20px;
        margin-bottom: 30px;
      }
      p{
        color: white;
        font-size: 14px;
      }
    }
    form{
      .form-group{
        position:relative;
      }
      .swa{
        position: absolute;
        right: 20px;
        top: 12px;
        &.hide{
          display: none;
        }
      }
      .form-group input{
        font-size: 14px;
        background:#00685E;
        border:1px solid #fff;
        width:100%;
        height:40px;
        border-radius:4px;
        padding-left:18px;
        color: white;
      }
      .form-group input:focus{
        box-shadow:none;
      }
      .form-group label{
        position:absolute;
        top: 9px;
        left: 18px;
        pointer-events:none;
        transition: .3s;
        font-size:14px;
        padding-top: 0;
        color:white; ;
        font-weight: 400;
      }
      .form-group input:focus ~ label,
      .form-group input:valid ~ label{
        top: -32px;
        left: 0;
      }
      a{
        color: white;
        display: block;
        margin-top:12px;
        font-size: 14px;
        color: rgba(252,252,252,0.9);
        text-decoration: none;
      }
      .btn{
        width: 170px;
        height:38px;
        border-radius: 4px;
        background: #b6ff00;
        color:#004c45;
        font-size: 14px;
        margin-top: 50px;
        transition: 0.2s;
        font-weight: 500;
        &:hover{
          background: #cdff3f;
        }
      }
      article{
        background: #004C45;
        padding: 1em 1.25em;
        display: flex;
        align-items:start;
        p{
          color: white;
        }
      }
    }
  }
  .right{
  }
}